<h1><a href="https://github.com/bfwg/springboot-jwt-starter">Springboot JWT Starter</a></h1>
<div ng-show="authenticated">
	<p>Welcome <b>{{controller.user.firstname}} {{controller.user.lastname}}</b></p>
	<p>Your authority(s)
		<code ng-repeat="authority in controller.user.authorities">{{authority.authority | limitTo:999:5}}</code>
	</p>
</div>
<div  ng-show="!authenticated">
	<p>You are an anonymous user.</p>
</div>
<p>Click the links below and see the result.</p>
<div style="margin-bottom: 10px;">
    <button type="button" class="btn btn-info" ng-click="controller.getUserInfo()">/user</button>
    <button type="button" class="btn btn-info" ng-click="controller.getAllUserInfo()">/user/all</button>
</div>
<div class="alert {{controller.responseBoxClass}}" ng-show="controller.serverResponse">
    <b>Server Response:</b>
    <pre>Path: /{{controller.serverResponse.config.url}}</pre>
    <pre>Method: {{controller.serverResponse.config.method}}</pre>
    <pre>Status: {{controller.serverResponse.status}}</pre>
    <pre>Data: {{controller.serverResponse.data}}</pre>
</div>
