<h1><a href="https://github.com/bfwg/springboot-jwt-starter">Springboot JWT Starter</a></h1>
<div ng-show="authenticated">
	<p>Welcome <b>{{user.firstname}} {{user.lastname}}</b></p>
	<p>Your authority(s)
		<code ng-repeat="authority in user.authorities">{{authority.authority | limitTo:999:5}}</code>
	</p>
</div>
<div  ng-show="!authenticated">
	<p>You are an anonymous user.</p>
</div>
<p>Click the links below and see the result.</p>
<div style="margin-bottom: 10px;">
    <button type="button" class="btn btn-info" ng-click="getUserInfo()">/whoami</button>
    <button type="button" class="btn btn-info" ng-click="getAllUserInfo()">/user/all</button>
</div>
<div class="alert {{responseBoxClass}}" ng-show="serverResponse">
    <b>Server Response:</b>
    <pre>Path: /{{serverResponse.config.url}}</pre>
    <pre>Method: {{serverResponse.config.method}}</pre>
    <pre>Status: {{serverResponse.status}}</pre>
    <pre>Data: {{serverResponse.data}}</pre>
</div>
